.alert {
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    border-radius: 4px;
    position: relative;
}

.alert.success {
    background-color: #4caf50; /* Green */
}

.alert.failure {
    background-color: #f44336; /* Red */
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
