body {
  font-family: sans-serif;
  margin: 0;
}
.navbar {
  color: white;
  background-color: #3abef9;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s;
  margin-left: 260px;
}

.container {
  display: flex;
  height: 100vh;
  background-color: white;
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px;
  /* Add margin to avoid overlapping */
}

.content h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.container-cards {
  display: flex;
  gap: 10px;
  width: 85%;
}

.card {
  width: calc(25% - 10px);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
  color: black;
  font-size: 20px;
}

.card-value {
  font-size: 2.5rem;
  font-weight: bold;
}

.logout-button {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 10px 20px;
  margin-top: 5px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #222;
  text-decoration: none;
  font-weight: 600;
}

.logout-button:hover {
  background-color: #ddd;
}

.logout-button .icon {
  margin-left: 5px;
  font-size: 1.2rem;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
}

.user-icon img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* Warna untuk kartu-kartu */
.card-total-tamu {
  background-color: #ffc107;
}

.card-tamu-hari-ini {
  background-color: #3abef9;
}

.card-petugas {
  background-color: #007bff;
}

.card-jadwal-temu {
  background-color: #dc3545;
}

/* Warna ikon */
.icon-total-tamu {
  color: #ffc107;
}

.icon-tamu-hari-ini {
  color: #28a745;
}

.icon-petugas {
  color: #007bff;
}

.icon-jadwal-temu {
  color: #dc3545;
}

.refresh-button {
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.2s;
}

.refresh-button:hover {
  transform: scale(1.1);
}

.refresh-button.spinning {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  .content {
    width: 100%;
    margin-left: 0;
  }
  .container-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .card {
    width: 90%;
  }
  .refresh {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
